.card {
  padding: 20px;
  width: 90%;
  min-height: 240px;
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  background-color: #6391c2;
  color: #ffffff;
  border-radius: 12px;
  position: absolute;
  top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__header, &__content, &__footer {
    margin: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;

    &--right, &--left {
      margin: 0;
    }

    &--right {
      text-align: right;
    }

    &--left {
      margin-left: 18px;
      margin-bottom: -20px;
      text-align: left;
    }
  }

  &__context {
    margin: 0 16px;
    height: 54px;
    font-family: Inconsolata;
    font-size: 36px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--title {
      margin: 0;
      text-transform: uppercase;
      font-size: 12px;
      color: rgba(#ffffff, 0.5);
    }
  }

  &__row {
    margin: 0;
    height: 27px;
    font-family: Inconsolata;
    font-size: 18px;
  }

  &__right {
    text-align: right;
  }
}

.logo {
  width: 75px;
}

.chip {
  width: 36px;
}

.username {
  text-transform: uppercase;
}